# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
end_of_line = lf

[*.sh]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
switch_case_indent = true
space_redirects = true
binary_next_line = true
ignore = true
charset = utf-8
ignore = false

[*.md]
max_line_length = 78
trim_trailing_whitespace = false

[*.rs]
indent_style = space
indent_size = 4
max_line_length = 100

[*.yml]
indent_style = space
indent_size = 2
