#!/bin/sh

#@ Ensure Bin scripts are available within the dev shell
# TODO This is temporary until pathsToLink starts working
# PATH_add Bin/shellscript/base

#@ Reload direnv on change
# watch_dir .

#@ Initialize the flake
# use flake . --impure || use nix
use flake . --no-pure-eval || use nix
