#!/bin/sh

initialize_bin() {
	export DOTS="${DOTS:-${PWD:-$(pwd -P)}}"
	BINIT_PATH="$DOTS/Bin/shellscript/base/binit"
	BINIT_ACTION="--run"

	if [ -f "${BINIT_PATH}" ]; then
		if [ -x "${BINIT_PATH}" ]; then :; else chmod +x "${BINIT_PATH}"; fi
		. "${BINIT_PATH}"
		printf "direnv: bin initialized %s\n" "${BINIT_PATH}" >&2
		printf "DOTS: %s\n" "${DOTS}" >&2
	else
		printf "direnv: binit not found at %s\n" "${BINIT_PATH}" >&2
	fi
}

initialize_flake() {
	command -v nix >/dev/null 2>&1 && use flake . --no-pure-eval
}

# initialize_bin
initialize_flake
