#~@ Nix & Development Environments
result*
.devenv/
.direnv/

#~@ Temporary Files, Cache & Logs
.cache/
[Tt]emp/
[Tt]mp/
[Ll]og/
__pycache__/
*.py[cod]
.pytest_cache/

#~@ Editor & IDE Configs
.vscode/
.zed/
.idea/
.codex/

#~@ System & Local Directories
[Aa]rchive/
[Aa]rchives/
[Dd]ownloads/
[Pp]rivate/
[Tt]arget/

#~@ Media & Fonts
*.ttf
*.otf
*.woff2

#~@ Explicitly Tracked (Un-ignore Rules)
!.envrc
!flake.lock
!.data/
!API/nix/hosts/review/Preci/
