#> Enable Warnings
enable=all

#> Disable Warnings
disable=SC2154        #? Variable is referenced but not assigned
disable=SC1090-SC1091 #? Can't follow non-constant source. Use a directive to specify location.
disable=SC2034        #? Unused variables.
# disable=SC2317 #?  Command appears to be unreachable. Check usage (or ignore if invoked indirectly).

#> Project Sources
external-sources=true
source-path=SCRIPTDIR
# source-path=SCRIPTDIR/Configuration
# source-path=SCRIPTDIR
# source-path=/etc
# source-path=$HOME
# source-path=$PRJ_ROOT/Bin
