[global]
excludes = [
  ".dotsrc",
  "LICENSE",
  "**/node_modules/**",
  "**/target/**",
  "**/.git/**",
  "**/dist/**",
  "**/build/**",
  "**/review/**",
  "**/archive/**",
  "*.lock",
  "Assets/**",
  "*.diff",
  "*.patch",


  "**/.bin/**",
  "**/.config/**",
  "**README.md",                               #TODO Temporary
  ".zed/**",                                   #TODO Temporary
  "Configuration/**",                          #TODO Temporary
  "Documentation/**",                          #TODO Temporary
  "Environment/**",                            #TODO Temporary
  "Modules/global/**",                         #TODO Temporary
  "Modules/nixos/configurations/hosts/QBX/**", #TODO Temporary
  "Modules/nixos/scripts/**",                  #TODO Temporary
  "Review/**",                                 #TODO Temporary
  "Scripts/**",                                #TODO Temporary
  "Tasks/**",                                  #TODO Temporary
  "Templates/**",                              #TODO Temporary
]

#|─────────────────────────────────────────────────────────────────────────────|
#| Documentation                                                               |
#|─────────────────────────────────────────────────────────────────────────────|

[formatter.markdown]
command = "markdownlint-cli2"
includes = ["*.md", "README"]
options = ["--fix"]
# options = ["--fix", "--config", ".markdownlint.yaml"]
priority = 1

# [formatter.mdsh]
# command = "mdsh"
# excludes = []
# includes = ["README.md"]
# options = ["--inputs"]
# priority = 2

#|─────────────────────────────────────────────────────────────────────────────|
#| Nix                                                                         |
#|─────────────────────────────────────────────────────────────────────────────|

# [formatter.nixfmt]
# includes = ["*.nix"]
# priority = 2
# command = "nixfmt"

[formatter.alejandra]
includes = ["*.nix"]
priority = 1
command = "alejandra"


#|─────────────────────────────────────────────────────────────────────────────|
#| Rust                                                                        |
#|─────────────────────────────────────────────────────────────────────────────|

[formatter.rust]
command = "rustfmt"
includes = ["*.rs"]
priority = 1


#|─────────────────────────────────────────────────────────────────────────────|
#| Shellscript                                                                 |
#|─────────────────────────────────────────────────────────────────────────────|

[formatter.shellcheck]
includes = [
  "*.sh",
  ".env*",
  ".shellcheckrc",
  "*.bash",
  ".bash*",
  "Bin/shellscript/**",
]
excludes = ["*.md", "*.ps1", "*.psm1", "*.txt", "*.log"]
command = "shellcheck"
options = ["--rcfile", ".shellcheckrc"]
priority = 1

[formatter.shfmt]
includes = [
  "*.sh",
  "*.dotsrc",
  "*.env*",
  "*.shellcheckrc",
  # "*.bash*",
  "*.gitignore",
  "*.ignore",
  # "Bin/shellscript/**",
]
excludes = ["*.md", "*.ps1", "*.psm1", "*.txt", "*.log"]
command = "shfmt"
options = [
  "--apply-ignore",
  "--binary-next-line",
  "--space-redirects",
  "--case-indent",
  "--indent",
  "2",
  "--posix",
  "--write",
]
priority = 2

# [formatter.powershell]
# includes = ["*.ps1", "*.psm1, *.psd1"]
# command = "powershell"
# options = [
#   "-NoProfile",
#   "-Command",
#   "Invoke-Formatter -ScriptDefinition (Get-Content -Raw $inputFile) | Set-Content -Path $outputFile",
# ]

[formatter.toml]
includes = ["*.toml", "rust-analyzer.toml", "rustfmt.toml"]
command = "taplo"
options = ["format"]

[formatter.stylua]
command = "stylua"
includes = ["*.lua"]

[formatter.actionlint]
command = "actionlint"
excludes = []
includes = [".github/workflows/*.yml", ".github/workflows/*.yaml"]
options = []

[formatter.deno]
command = "deno"
excludes = []
includes = [
  "*.css",
  "*.html",
  "*.js",
  "*.json",
  "*.jsonc",
  "*.jsx",
  "*.less",
  # "*.markdown",
  # "*.md",
  "*.sass",
  "*.scss",
  "*.ts",
  "*.tsx",
  "*.yaml",
  "*.yml",
]
options = ["fmt"]

[formatter.yamlfmt]
includes = ["*.yaml", "*.yml"]
command = "yamlfmt"
options = ["-formatter", "retain_line_breaks=true"]
