"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Craole"
email = "32288735+Craole@users.noreply.github.com"

[[--scope]]
--when.repositories = ["/d/Project/GitHub/CC", "D:/Projects/GitHub/CC"]
[--scope.name]
name = "craole-cc"
[--scope.user]
email = "134658831+craole-cc@users.noreply.github.com"

[[--scope]]
--when.repositories = ["/d/Project/GitHub/Craole", "D:/Projects/GitHub/CC"]
[--scope.name]
name = "Craole"
[--scope.user]
email = "32288735+Craole@users.noreply.github.com"

[[--scope]]
--when.commands = ["status"]
[--scope.ui]
paginate = "never"

[ui]
# diff-editor = "hx"
diff-editor = "meld-3"
merge-editor = [
  "meld",
  "$left",
  "$base",
  "$right",
  "-o",
  "$output",
  "--auto-merge",
]
editor = "hx"
default-command = ["log", "--reversed"]
# Possible values: "curved" (default), "square", "ascii", "ascii-large"
# graph.style = "ascii-large"
log-word-wrap = true

[remotes.origin]
auto-track-bookmarks = "*"

[templates]
# Use builtin evolog template
evolog = "builtin_evolog_compact"
# Use builtin log template
log = "builtin_log_compact_full_description"
# Use builtin show template
show = "builtin_log_detailed"
# Use builtin op log template
op_log = "builtin_op_log_compact"
# Use builtin op log template
op_show = "builtin_op_log_compact"

[template-aliases]
'format_short_id(id)' = 'id.shortest(12).prefix() ++ "[" ++ id.shortest(12).rest() ++ "]"'
# Full timestamp in ISO 8601 format
# 'format_timestamp(timestamp)' = 'timestamp'
# Relative timestamp rendered as "x days/hours/seconds ago"
'format_timestamp(timestamp)' = 'timestamp.ago()'
'format_time_range(time_range)' = 'time_range.start() ++ " - " ++ time_range.end()'
# Full email address (default)
# 'format_short_signature(signature)' = 'signature.email()'
# Both name and email address
# 'format_short_signature(signature)' = 'signature'
# Username part of the email address
'format_short_signature(signature)' = 'signature.email().local()'

[aliases]
pull = [
  #   "git",
  #   "fetch",
  #   "--remote",
  #   "origin",
  #   "bookmark set main --revision=main@origin",
]
clone = ["git", "clone"]
push = ["git", "push", "--allow-new"]
smash = ["squash", "-r", "@-"]
l = ["log", "-r", "(main..@):: | (main..@)-"]

[fsmonitor]
backend = "watchman"

[fsmonitor.watchman]
register-snapshot-trigger = true
